
html {
  scroll-behavior: smooth;
}

/* Light Theme */
.theme-light {
  background-color: #f8f9fa;
  color: #212529;
}

/* Dark Theme */
.theme-dark {
  background-color: #212529;
  color: #f8f9fa;
}

.theme-dark .navbar,
.theme-dark .dropdown-menu {
  background-color: #343a40 !important;
}

.theme-dark .nav-link,
.theme-dark .navbar-brand {
  color: #ffffff !important;
}
